/* === Цветовые переменные === */

:root {
    /* Светлая тема */
    --bg-color: #dfb6b2;
    --text-color: #190019;
    --header-bg: #fbe4d8;
    --card-bg: #fbe4d8;
    --footer-bg: #522b5b;
    --footer-text: #fbe4d8;
    --shadow: #864f6c;
    --link-color: #190019;
    --link-hover: #dfb6b2;
    --theme-icon: "🌙";
}

/* Тёмная тема */
[data-theme="dark"] {
    --bg-color: #190019;
    --text-color: #fbe4d8;
    --header-bg: #2b124c;
    --card-bg: #2b124c;
    --footer-bg: #2b124c;
    --footer-text: #dfb6b2;
    --shadow: #522b5b;
    --link-color: #fbe4d8;
    --link-hover: #854f6c;
    --theme-icon: "☀️";
}


/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
    transition: 0.5s ease, color 0.5s ease;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

/* Контейнер для контента */
.content-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
.header {
    background-color: var(--header-bg);
    padding: 15px 0;
    position: sticky;
    height: 120px;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px var(--shadow);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow);
    font-weight: bold;
}

.nav {
    margin: 0;
    padding: 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: 600;
}

.nav a:hover {
    color: var(--link-hover);
}

/* Content */
.content {
    padding: 50px 0;
}

.about {
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow);
    font-weight: bold;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.portfolio h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow);
    font-weight: bold;
}

.project {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow);
    transition: transform 0.5s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Footer */
.contact {
    background-color: var(--footer-bg);
    color: var(--footer-text);
    padding: 20px 0;
    text-align: center;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    filter: invert(1);
}

@media (max-width: 768px) {
    .nav ul {
        gap: 15px;
        font-size: 0.9rem;
    }

    .nav a {
        font-size: 0.95rem;
    }
}

.theme-toggle {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-color);
    box-shadow: 0 2px 5px var(--shadow);
    transition: all 0.3s ease;
}

.theme-toggle:hover {
    transform: rotate(30deg);
}